.dropdown-box{
    border-radius: 8px;
    border: 1px solid #e6e6e6;
    display: inline-block;
    font-size: 11px;
    color: #666;
    padding-left: 8px;
    padding-right: 8px;
}

.custom-select  {
    font-size: 12px; 
}

.custom-select-item  {
    font-size: 12px !important; 
}

